:root {
  --bg-color-layout: #333;
  --text-color: #fff;
}
body {
  margin: 0;
}

nav {
  width: 100%;
  background-color: #333; /* Color de fondo para visibilidad */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Estiliza los elementos de la lista */
nav ul li {
  margin: 0 15px; /* Espacio entre los elementos */
}

/* Estiliza los enlaces dentro de los elementos de la lista */
nav ul li a {
  color: white; 
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

footer{
  width: 100%;
  background-color: var(--bg-color-layout);
  color: var(--text-color);
  padding: 20px;
}
.main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}